*~
*.pyc
*.sublime-project
*.sublime-workspace
venv
MapGround/static
MapGround/media/*
settings_local.py
settings_local_db.py
settings_dev_db.py
mapground_nginx.conf
mapground_uwsgi.ini
mapground_apache.conf
mapground_dev_apache.conf
mapcache/cache
mapcache/settings.py
mapcache/mapcache.xml
maps/map-error.log
maps/*.map
mapfiles/map-error.log
mapfiles/*.map
api/docs/site
.vagrant
.vscode
*console.log
