{% extends "base.html" %}
{% load field_addcss %}
{% load static %}

{% block extrastyle %}
{{ block.super }}

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8 main-content">

        <div class="page-header no-border">
			<h1>Atributos de capa "{{ capa.dame_titulo }}"</h1>
		</div>

        <div class="clearfix"></div>
		<ul class="nav nav-tabs" role="tablist" id="myTab">
			<li><a href="{% url 'layers:metadatos' capa.id_capa %}"><span class="glyphicon glyphicon-info-sign"></span>
			&nbsp;Información</a></li>
			<li class="active"><a href="#layerAttributes" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list"></span>
			&nbsp;Atributos</a></li>
			<li><a href="{% url 'layers:permisos' capa.id_capa %}"><span class="glyphicon glyphicon-lock"></span>
			&nbsp;Permisos</a></li>
			<li><a href="{% url 'layers:sld' capa.id_capa %}"><span class="glyphicon glyphicon-eye-close"></span>
			&nbsp;Simbología</a></li>
            <li><a href="{% url 'layers:actualizaciones' capa.id_capa %}"><span class="glyphicon glyphicon-time"></span>
                &nbsp;Actualizaciones</a></li>
            </ul>
		</ul>

      <div class="tab-content">
        <div class="tab-pane fade" id="layerInfo">
		</div>
	    <div class="tab-pane fade in active" id="layerAttributes">
			<form action="" method="post" role="form">
				{% csrf_token %}
				
				    {{ formset.management_form }}
				    {{ formset.non_form_errors }}
					<table class="table table-striped">
						<thead><tr>
							{% for field in formset|first %}
								{% if field.name != 'metadatos' and field.name != 'id' %}
					                 <th>{{ field.label }}</th>
					            {% endif %}
				            {% endfor %}
				    	</tr></thead>
				    	<tbody>
				    {% for form in formset %}
						{% if form.non_field_errors %}
							<tr><td colspan="100%" class="text-danger">{{ form.non_field_errors }}</td></tr>
						{% endif %}
				    
				            <tr><td colspan="100%" style="display: none;">{{form.id}}</td></tr>
				            <tr>
							{% for field in form %}
								{% if field.name != 'metadatos' and field.name != 'id' %}
						    		{% if field.errors|length > 0 %}
						    			<div class="form-group has-error">
    								{% else %}
    			    					<div class="form-group">
			    			 		{% endif %}
										<td>
									    	{% if field.errors|length > 0 %}
									        <p class="text-danger">{{ field.errors.as_text }}</p>
									      	{% endif %}
									      	{{ field|addcss:"form-control" }}											      	
						                </td>
						             </div>
					            {% endif %}
				            {% endfor %}
							</tr>
				            <tr><td colspan="100%" style="display: none;">&nbsp;</td></tr>
				    {% endfor %}
				       </tbody>
					</table>
			
			<button type="submit" class="btn btn-primary" name="_cancel"><i class="glyphicon glyphicon-remove-circle"></i><span>&nbsp;Cancelar</span></button>
			<button type="submit" class="btn btn-danger" name="_save"><i class="glyphicon glyphicon-save"></i><span>&nbsp;Grabar</span></button>
			<button type="submit" class="btn btn-danger" name="_save_and_continue"><i class="glyphicon glyphicon-refresh"></i><span>&nbsp;Grabar y continuar editando</span></button>
			<button type="submit" class="btn btn-danger" name="_save_and_next"><span>Grabar y editar Permisos&nbsp;</span><i class="glyphicon glyphicon-forward"></i></button>
			
			</form>
	    </div>
        <div class="tab-pane fade" id="layerPermissions">
		</div>
		<div class="tab-pane fade" id="layerSymbology">
		</div>
	  </div>
	</div> 
    <div class="col-sm-4">
        <br/>

	<a href="{% url 'layers:detalle_capa' capa.id_capa %}" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Volver a la capa</a>
	<div class="clearfix"></div>
	<br/>
	{% include 'layers/detalle_capa_widget.html' %}

	</div>
</div>
{% endblock %}