/* LOGIN FORM */

body.login {
    background: #eee;
}

.login h1 {
    margin-top: 0;
    padding: 0.6em 1em;
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 0;
}
.login .bg-danger, .login .bg-warning {
    padding: 1em;
}
ul.errorlist li:first-child {
    margin-top: 0;
}
ul.errorlist li {
    display: block;
    font-size: 12px !important;
    margin: 3px 0 0;
    padding: 5px 5px 4px 7px;
    list-style-type: square;
}

ul.errorlist {
    background: none repeat scroll 0 0 #c11;
    color: #fff;
    margin: 0 0 4px !important;
    padding: 0 !important;
}
.errornote, ul.errorlist {
    border-radius: 1px;
}
.login h1 > a {
    color: white;
}
.login h1 > a > img {
    margin-right: 0.2em;
}
.login #container {
    background: white;
    border: 1px solid #ccc;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.login #content-main {
    width: 100%;
    padding: 0 1em 1em;
}

.login form {
    margin-top: 1em;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    text-align: right;
    padding-top: 1em;
}

.login .password-reset-link {
    text-align: center;
}
