.page-header {
	margin: -10px 0 10px 0;
}
.no-border {
	border: none !important;
	box-shadow: none !important;
}
.page-header>h1 {
	margin-bottom: 5px;
	max-width: 440px;
	font-size:24px;
}
input[type="checkbox"] {
	height: auto;
}
h3 {
	font-size: 18px;
}
.main-content {
	padding-top: 1em;
}
.main-content p {
	padding: 15px;
}
@media (min-width: 768px) { 
	.main-content {
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 0em;
	}
	.page-header>h1+.btn-toolbar {
		float: right;
		margin-top: -3em;
	}
	.page-header+.abstract {
		margin-right: 30%;
		margin-bottom: 1.5em;
	}
}
@media (min-width: 1200px) { 
	.page-header>h1 {
		max-width: 600px;
	}
}
.list-container>.btn-group.pull-right {
	margin-top: -0.5em;
}
.list-container>.btn-group+.clearfix {
	margin-bottom: 1ex;
}
.list-container p {
	padding: 0;
}
.th-large .thumbnail {
	width: 180px;
	min-height: 375px;
	margin: 0.5em;
	float:left;
	font-weight: 300;
}
.th-large .thumbnail.active {
/*	min-height: 385px;*/
}
.th-list .thumbnail, .th-large .thumbnail {
	border: 1px solid transparent;
	box-shadow: none;
	position: relative;
	padding-top: 10px;
	border-color: #eee;
/*	box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}
.th-list .thumbnail:hover, .th-large .thumbnail:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.th-large .thumbnail >.actions {
	display: block;
}
.thumbnail>.actions {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.th-list .thumbnail.active .actions, .th-large .thumbnail.active .actions {
	display: block;
}

.th-large .thumbnail+.thumbnail {
	margin: 0.5em;
}
.th-list .thumbnail {
	margin-top: 20px;
	min-height: 170px;
	font-weight: 300;
}
.th-list .thumbnail>img {
	float:left;
}
.th-list .caption {
	margin-left: 120px;
}
.thumbnail.mapa {
	background-color: #fbfbfb;
}
.thumbnail>.caption>h3 {
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
}
.thumbnail>.caption>.abstract {
	margin-top: 0.8ex;
	font-size: 90%;
	clear: right;
}
.thumbnail>.caption>.labels {
	display: inline-block;
	margin: 0.1em 0.5em 0.2em 0;
}
.thumbnail>.caption>.user {
	display: inline-block;
	margin-top: 0.1em;
}
.th-list .thumbnail>.caption>.btn+.btn {
	margin-left: 0.2em;
}
.th-large .thumbnail>.caption>.btn {
	margin-top: 0.2em;
}
.thumbnail>.caption>.capas {
	color: #444;
	margin-bottom: 0.5em;
}
.tab-content {
	padding-top: 1.2em;
}
.nav-tabs > li > a, .nav-pills > li > a  {
	font-size: 120%;
	padding: 8px 15px;
}
.nav-tabs > li.active > a {
	background-color: #eee;
}
.nav-pills.layer-sort {
	margin-top: -0.2em;
	margin-bottom: 1em;
}
.nav-pills.layer-sort > li > a {
	font-size: 90%;
}
.nav-pills.layer-sort > li > a {
	padding: 4px 10px;
}
.list-description {
	margin-top: -1ex;
}
#layerInfo>dl>dt {
	/*text-align: left;*/
	width: 150px;
	padding-left: 10px;
}
#layerInfo>dl>dd {
	margin-left: 170px;
}
table .glyphicon-ok {
	cursor: default;
	color: green;
}
table .glyphicon-remove {
	cursor: default;
	color: red;
}
#mapa {
	height: 400px;
	margin-bottom: 1em;
	border: 1px solid #ccc;
}
#id_categorias {
	list-style: none;
	max-height: 20em;
	overflow-y: auto;
}
#id_categorias label {
	font-weight: normal;
}
/*@media (min-width: 992px) { 
	.th-list .thumbnail>.caption>.user {
		float: right;
	}
}*/