body {
  padding-bottom: 0;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.navbar-brand {
	padding-left: 35px;
	padding-right: 15px;
	margin-left: 14px;
}
.navbar-default .navbar-brand {
	background: url(../img/logo.png) 0 50% no-repeat;
	color: #000!important;
}
.navbar-inverse .navbar-brand {
	background: url(../img/logo-inverse.png) 0 50% no-repeat;
	color: #fff!important;
}

.navbar-inverse {
background: #6d32a8; /* Old browsers */
background: -moz-linear-gradient(top,  #6d32a8 0%, #841a33 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #6d32a8 0%,#841a33 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #6d32a8 0%,#841a33 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d32a8', endColorstr='#841a33',GradientType=0 ); /* IE6-9 */
/*    background-repeat: repeat-x;*/
	font-size: 120%;
}
.navbar-inverse {
background: #6d32a8; /* Old browsers */
    border-color:#efefef;
}
.navbar-inverse .navbar-nav > li > a {
    color: #eee;
}
.navbar-inverse .navbar-brand {
    color: #eee;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #125089;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #efefef;
    color: #125089;
}

.navbar-inverse .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
    background-repeat: repeat-x;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
}
.navbar-inverse .navbar-toggle {
    border-color: #efefef;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #025b87;
}

.no-footer {
  margin-top: 30px;
}
.footer-logos,
.footer01,
.footer02
{
  font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 0;
-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); 
}
.footer-logos
{
  margin-top: 10px;
  background-color: #ffffff;
}
.footer01
{
  background-color: #054875;
  color: #90adca;   
}
.footer01 ul 
{
  list-style: none;
  display: block;
  margin: 0;
  padding: 0; 
}
.footer01 ul li
{
  list-style: none;
  display: inline;    
}
.footer01 a,
.footer01 ul li a
{   color: #90adca; padding: 5px 15px;  }
.footer01 a:hover,
.footer01 ul li a:hover
{   color: #ffffff; text-decoration: none; }

.footer02
{
  background-color: #032b46;
  color: #90adca;
    font-size: 12px;  
}
.footer02 p
{
  margin: 5px 0 ;   
}

@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(../fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(../fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(../fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(../fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(../fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(../fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}


.btn-primary { 
  color: #ffffff; 
  background-color: #FF5722; 
  border-color: #D13607; 
  background-image:none;
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #ffffff; 
  background-color: #FF3C00; 
  border-color: #D13607; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #FF5722; 
  border-color: #D13607; 
} 
 
.btn-primary .badge { 
  color: #FF5722; 
  background-color: #ffffff; 
}