          <div class="row">
            <div class="col-xs-12">
            
            <h3><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;Escalas
	            {% if request.user.is_superuser %}
	            <a href="{% url 'layers:escalas' %}" type="button" class="btn btn-primary pull-right">
	              <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editar
	            </a>
	            {% endif %}
            </h3>
            {% if lista_escalas.escalas|length > 0 %}
            <ul class="dropdown-menu no-border no-shadow" style="display: block;margin-left: 30px; position: relative;">
              {% for e in lista_escalas.escalas %} 
              <li><a href="{% url 'maps:detalle_escala' e.id %}" title="Ver mapas con esta escala">{{ e.nombre }} ({{ e.total }})</a>
              {% endfor %}
              <li class="divider" role="separator"></li>
              <li><a href="{% url 'maps:detalle_escala' 0 %}" title="Mapas sin escala asignada">Sin escala ({{lista_escalas.sin_escala}})</a>
            </ul>
            {% else %}
            <p>No hay escalas definidas.</p>
            {% endif %}

            </div>
          </div>  
