{% extends "base.html" %}
{% load mapas_tags %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-sm-4 col-sm-push-8">
          <div class="row"><div class="col-xs-12">
            <form role="search" method="GET" action="{% url 'maps:buscar' %}">
              <div class="form-group">
              <div class="input-group add-on">
                <input class="form-control" placeholder="Buscar mapa..." name="texto" type="text" {% if request.GET.texto != '' %}value="{{ request.GET.texto }}"{% endif %}>
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
              </div>    
            </form>
          </div></div>

          {% include 'maps/escalas_widget.html' %}
          {% include 'maps/categorias_widget.html' %}

        </div>
        {% url 'maps:ultimos' as url_inicio %}
        {% url 'maps:buscar' as url_buscar %}
        {% url 'maps:index' as url_index %}
        {% if request.path == url_inicio or request.path == url_buscar %}
        <div class="col-sm-8 col-sm-pull-4 main-content">
          <div class="page-header">
            {% if request.path == url_inicio %}
            <h1>Mapas más recientes</h1>        
            {% else %}
            <h1>Resultados</h1>        
            {% endif %}
          </div>
          <div class="list-container th-list">
            {% if lista_mapas|length > 0 %}
            <div class="btn-group pull-right" data-toggle="buttons">
              <label class="btn btn-default active">
                <input type="radio" name="list-style" id="th-list" checked><span class="glyphicon glyphicon-th-list"></span>
              </label>
              <label class="btn btn-default">
                <input type="radio" name="list-style" id="th-large"><span class="glyphicon glyphicon-th-large"></span>
              </label>
            </div>
              {% if request.path == url_inicio %}
                {% if lista_mapas|length > 1 %}
                <p class="pull-left">Últimos {{ lista_mapas|length }} mapas modificados:</p>
                {% else %}
                <p class="pull-left">Último mapa modificado:</p>
                {% endif %}
              {% elif request.path == url_buscar %}
                {% if cantidad_total > 1 %}
                <p class="pull-left">Mostrando {{ lista_mapas|length }} de {{ cantidad_total }} mapas hallados:</p>
                {% elif cantidad_total == 1 %}
                <p class="pull-left">Se halló 1 mapa:</p>
                {% else %}
                <p class="pull-left">No se hallaron mapas.</p>
                {% endif %}
              {% endif %}
            {% endif %}
            <div class="clearfix"></div>
            {% mostrar_mapas lista_mapas order_by %}

                  <div class="clearfix"></div>

                   {% if request.path == url_buscar and lista_mapas.paginator.num_pages > 1 %}         
                   <ul class="pagination">
                    <li {% if not lista_mapas.has_previous %}class="disabled"{% endif %}><a {% if lista_mapas.has_previous %}href="?texto={{ request.GET.texto }}&p={{ lista_mapas.previous_page_number }}"{% endif %}>&laquo;</a></li>
                    {% for i in lista_mapas.paginator.num_pages|get_range  %}                    
                        <li {% if i|add:1 == lista_mapas.number %}class="active"{% endif %}><a {% if i|add:1 != lista_mapas.number %}href="?texto={{ request.GET.texto }}&p={{ i|add:1 }}"{% endif %}>{{ i|add:1 }} {% if i|add:1 == lista_mapas.number %}<span class="sr-only">(actual)</span>{% endif %}</a></li>
                    {% endfor %}
                    <li {% if not lista_mapas.has_next %}class="disabled"{% endif %}><a {% if lista_mapas.has_next %}href="?texto={{ request.GET.texto }}&p={{ lista_mapas.next_page_number }}"{% endif %}>&raquo;</a></li>
                   </ul>
                   {% endif %}

              </div>
          </div>
        </div>
        {% else %}
        <div class="col-sm-8 col-sm-pull-4 main-content">
          {% if user.is_authenticated %}
          <ul class="nav nav-tabs" role="tablist" id="myTab">
			<li {% if request.GET.view == 'own' %}class="active"{% endif %}><a href={{ url_index }}?view=own&order_by=mr><span class="glyphicon glyphicon-user"></span>&nbsp;Mis mapas</a></li>
			<li {% if request.GET.view == 'all' %}class="active"{% endif %}><a href={{ url_index }}?view=all&order_by=mr><span class="glyphicon glyphicon-th-list"></span>&nbsp;Todos los mapas</a></li>
			<li {% if request.GET.view == 'list' %}class="active"{% endif %}><a href={{ url_index }}?view=list&order_by=mr><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Lista</a></li>
            <!-- <li><a href="#capasPendientes" role="tab" data-toggle="tab">Pendientes</a></li>-->
          </ul>
          {% endif %}
          <div class="tab-content">
            <div class="tab-pane fade {% if request.GET.view == 'own' %}in active{% endif %}" id="misMapas">
              <div class="list-container th-list">
                 <ul class="nav nav-pills pull-left layer-sort">
                  <li{% if request.GET.order_by == 'mr' %} class="active"{% endif %}><a href={{ url_index }}?view=own&order_by=mr>Últimos creados</a></li>
                  <li{% if request.GET.order_by == 'lr' %} class="active"{% endif %}><a href={{ url_index }}?view=own&order_by=lr>Primeros creados</a></li>
                  <li{% if request.GET.order_by == 'mrm' %} class="active"{% endif %}><a href={{ url_index }}?view=own&order_by=mrm>Últimos modificados</a></li>
                  <li{% if request.GET.order_by == 'lrm' %} class="active"{% endif %}><a href={{ url_index }}?view=own&order_by=lrm>Primeros modificados</a></li>
                  <li{% if request.GET.order_by == 'az' %} class="active"{% endif %}><a href={{ url_index }}?view=own&order_by=az>A-Z</a></li>
                  <li{% if request.GET.order_by == 'za' %} class="active"{% endif %}><a href={{ url_index }}?view=own&order_by=za>Z-A</a></li>
                 </ul>
                 <div class="btn-group pull-right" data-toggle="buttons">
                    <label class="btn btn-default active">
                      <input type="radio" name="list-style" id="th-list" checked><span class="glyphicon glyphicon-th-list"></span>
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="list-style" id="th-large"><span class="glyphicon glyphicon-th-large"></span>
                    </label>
                  </div>
                  <div class="clearfix"></div>
                  {% if lista_mapas|length > 0 %}
                  <p class="list-description">Mostrando {{ lista_mapas|length }} de {{ cantidad_total }} mapas disponibles:</p>
                  {% endif %}
        				  {% mostrar_mapas lista_mapas order_by %}
         
                  <div class="clearfix"></div>
         
                   {% if lista_mapas.paginator.num_pages > 1 %}
                   <ul class="pagination">
                    <li {% if not lista_mapas.has_previous %}class="disabled"{% endif %}><a {% if lista_mapas.has_previous %}href="?view={{ request.GET.view }}&order_by={{ request.GET.order_by }}&p={{ lista_mapas.previous_page_number }}"{% endif %}>&laquo;</a></li>
                    {% for i in lista_mapas.paginator.num_pages|get_range  %}                    
                        <li {% if i|add:1 == lista_mapas.number %}class="active"{% endif %}><a {% if i|add:1 != lista_mapas.number %}href="?view={{ request.GET.view }}&order_by={{ request.GET.order_by }}&p={{ i|add:1 }}"{% endif %}>{{ i|add:1 }} {% if i|add:1 == lista_mapas.number %}<span class="sr-only">(actual)</span>{% endif %}</a></li>
                    {% endfor %}
                    <li {% if not lista_mapas.has_next %}class="disabled"{% endif %}><a {% if lista_mapas.has_next %}href="?view={{ request.GET.view }}&order_by={{ request.GET.order_by }}&p={{ lista_mapas.next_page_number }}"{% endif %}>&raquo;</a></li>
                   </ul>
                   {% endif %}
                              
              </div>
            </div>
            <div class="tab-pane fade {% if request.GET.view == 'all' %}in active{% endif %}" id="todosLosMapas">
              <div class="list-container th-list">
                 <ul class="nav nav-pills pull-left layer-sort">
                  <li{% if request.GET.order_by == 'mr' %} class="active"{% endif %}><a href={{ url_index }}?view=all&order_by=mr>Últimos creados</a></li>
                  <li{% if request.GET.order_by == 'lr' %} class="active"{% endif %}><a href={{ url_index }}?view=all&order_by=lr>Primeros creados</a></li>
                  <li{% if request.GET.order_by == 'mrm' %} class="active"{% endif %}><a href={{ url_index }}?view=all&order_by=mrm>Últimos modificados</a></li>
                  <li{% if request.GET.order_by == 'lrm' %} class="active"{% endif %}><a href={{ url_index }}?view=all&order_by=lrm>Primeros modificados</a></li>
                  <li{% if request.GET.order_by == 'az' %} class="active"{% endif %}><a href={{ url_index }}?view=all&order_by=az>A-Z</a></li>
                  <li{% if request.GET.order_by == 'za' %} class="active"{% endif %}><a href={{ url_index }}?view=all&order_by=za>Z-A</a></li>
                 </ul>
                  <div class="btn-group pull-right" data-toggle="buttons">
                    <label class="btn btn-default active">
                      <input type="radio" name="list-style" id="th-list" checked><span class="glyphicon glyphicon-th-list"></span>
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="list-style" id="th-large"><span class="glyphicon glyphicon-th-large"></span>
                    </label>
                  </div>
                  <div class="clearfix"></div>
                  {% if lista_mapas|length > 0 %}
                  <p class="list-description">Mostrando {{ lista_mapas|length }} de {{ cantidad_total }} mapas disponibles:</p>
                  {% endif %}

                  {% mostrar_mapas lista_mapas order_by %}

                  <div class="clearfix"></div>

                    {% if lista_mapas.paginator.num_pages > 1 %}
                   <ul class="pagination">
                    <li {% if not lista_mapas.has_previous %}class="disabled"{% endif %}><a {% if lista_mapas.has_previous %}href="?view={{ request.GET.view }}&order_by={{ request.GET.order_by }}&p={{ lista_mapas.previous_page_number }}"{% endif %}>&laquo;</a></li>
                    {% for i in lista_mapas.paginator.num_pages|get_range  %}                    
                        <li {% if i|add:1 == lista_mapas.number %}class="active"{% endif %}><a {% if i|add:1 != lista_mapas.number %}href="?view={{ request.GET.view }}&order_by={{ request.GET.order_by }}&p={{ i|add:1 }}"{% endif %}>{{ i|add:1 }} {% if i|add:1 == lista_mapas.number %}<span class="sr-only">(actual)</span>{% endif %}</a></li>
                    {% endfor %}
                    <li {% if not lista_mapas.has_next %}class="disabled"{% endif %}><a {% if lista_mapas.has_next %}href="?view={{ request.GET.view }}&order_by={{ request.GET.order_by }}&p={{ lista_mapas.next_page_number }}"{% endif %}>&raquo;</a></li>
                   </ul>
                   {% endif %}
              </div>
            </div>
            <div class="tab-pane fade {% if request.GET.view == 'list' %}in active{% endif %}" id="listadoMapas">
              <div class="list-container th-list">
                 <ul class="nav nav-pills pull-left layer-sort">
                  <li{% if request.GET.order_by == 'mr' %} class="active"{% endif %}><a href={{ url_index }}?view=list&order_by=mr>Últimos creados</a></li>
                  <li{% if request.GET.order_by == 'lr' %} class="active"{% endif %}><a href={{ url_index }}?view=list&order_by=lr>Primeros creados</a></li>
                  <li{% if request.GET.order_by == 'mrm' %} class="active"{% endif %}><a href={{ url_index }}?view=list&order_by=mrm>Últimos modificados</a></li>
                  <li{% if request.GET.order_by == 'lrm' %} class="active"{% endif %}><a href={{ url_index }}?view=list&order_by=lrm>Primeros modificados</a></li>
                  <li{% if request.GET.order_by == 'az' %} class="active"{% endif %}><a href={{ url_index }}?view=list&order_by=az>A-Z</a></li>
                  <li{% if request.GET.order_by == 'za' %} class="active"{% endif %}><a href={{ url_index }}?view=list&order_by=za>Z-A</a></li>
                 </ul>
                  <div class="clearfix"></div>
                  <p></p>
                  {% if lista_mapas|length > 0 %}
                  <p class="list-description">Mostrando {{ lista_mapas|length }} de {{ cantidad_total }} mapas disponibles:</p>
			          <table class="table table-striped">
			            <thead>
			            	<tr>
			                    <th>Mapa</th><th># Capas</th><th>Creado por</th><th>Fecha de creación</th><th>Fecha de modificación</th>
			            	</tr>
			            </thead>
			            <tbody>
			                {% for m in lista_mapas %}
			                <tr>
			                      <td><a href="{% url 'maps:detalle_mapa' m.id_mapa %}">{{ m.dame_titulo }}</a></td>
			                      <td>{{ m.mapserverlayer_set.all|length }}</td>
			                      <td>{{ m.owner.username }}</td>
			                      <td>{{ m.timestamp_alta }}</td>
			                      <td>{{ m.timestamp_modificacion }}</td>
			                </tr>
			                {% endfor %}
			            </tbody>
			          </table>
                  {% else %}
	                  <p>No hay mapas.</p>
	              {% endif %}

                  <div class="clearfix"></div>

                    {% if lista_mapas.paginator.num_pages > 1 %}
                   <ul class="pagination">
                    <li {% if not lista_mapas.has_previous %}class="disabled"{% endif %}><a {% if lista_mapas.has_previous %}href="?view={{ request.GET.view }}&order_by={{ request.GET.order_by }}&p={{ lista_mapas.previous_page_number }}"{% endif %}>&laquo;</a></li>
                    {% for i in lista_mapas.paginator.num_pages|get_range  %}                    
                        <li {% if i|add:1 == lista_mapas.number %}class="active"{% endif %}><a {% if i|add:1 != lista_mapas.number %}href="?view={{ request.GET.view }}&order_by={{ request.GET.order_by }}&p={{ i|add:1 }}"{% endif %}>{{ i|add:1 }} {% if i|add:1 == lista_mapas.number %}<span class="sr-only">(actual)</span>{% endif %}</a></li>
                    {% endfor %}
                    <li {% if not lista_mapas.has_next %}class="disabled"{% endif %}><a {% if lista_mapas.has_next %}href="?view={{ request.GET.view }}&order_by={{ request.GET.order_by }}&p={{ lista_mapas.next_page_number }}"{% endif %}>&raquo;</a></li>
                   </ul>
                   {% endif %}
              </div>
            </div>
          </div>   
        </div>
        {% endif %}
      </div>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script src="{% static "js/mapground.js" %}"></script>

{% endblock %}

{% block extra_body %}
{{ block.super }}
<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="Eliminar Mapa" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">¡Atención!</h3>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea <b>$action</b>? Esta acción no podrá deshacerse.
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-action="eliminar">Eliminar</a> <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
